<!-- 
  This is the navbar that anyone sees in the homepage without any login or register done.
  All the links redirect to the /register only as the user is supposed to login/register to avail the services and benefits
  This has 'join us' button
-->


<nav class="navbar navbar-expand-lg navbar-dark defaultNavbar">
  <a class="navbar-brand" href="/">ECOHUB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/register">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#services">Our services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">FAQ's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Contact us</a>
      </li>
    </ul>
    <a href="/register" class="nav-link"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Join
        us</button></a>
  </div>
</nav>