<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff;">
	<!-- Navbar content -->
	<div class="container-fluid">
		<img id="logo" src="/Animated Leaf Icon final.jpg" alt="" width="50" height="36"
			class="d-inline-block align-text-top" /> <a href="/admin/home" style="text-decoration: none; color: black;">
			<b>ECOHUB</b> </a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/showusers">Show all Data</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/adduser">Add a new User</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/showallmessages">Messages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin/send-all-mail">Announce</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Logout</a>
				</li>

			</ul>

		</div>
	</div>
</nav>